.ChatMain 
  .MainHeader
    .MainHeader__group
      .MainHeader__groupName
        = @group.name
      .MainHeader__memberList
        Members:&nbsp
        - @group.users.each do |user|
          .MainHeader__member
            = user.name
    .MainHeader__edit
      = link_to  edit_group_path(@group)  do
        Edit
  .MainMessage
    = render @messages
  .MainFooter
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |form|
      .Form__contents
        = form.text_field :content, placeholder: "type a message", class: "Form__inputContent"
        = form.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = form.file_field :image, class: 'Hidden'
      = form.submit 'Send', class: "Form__submit"