.ChatMain 
  .MainHeader
    .MainHeader__group
      .MainHeader__groupName
        music
      %ul.MainHeader__memberList
        Member : 
        %li.MainHeader__member
          masa
    = link_to "#", class: "MainHeader__edit" do
      Edit
  .MainMessage
    .MessageBox
      .InfoBox
        .InfoBox__userName
          masa
        .InfoBox__date
          2020年07月01日 14時33分
      .Message
        %p.Message__content
          まだテキストがありません
    .MessageBox
      .InfoBox
        .InfoBox__userName
          masa
        .InfoBox__date
          2020年07月01日 14時33分
      .Message
        %p.Message__content
          まだテキストがありません
    .MessageBox
      .InfoBox
        .InfoBox__userName
          masa
        .InfoBox__date
          2020年07月01日 14時33分
      .Message
        %p.Message__content
          まだテキストがありません
  .MainFooter
    = form_with url: "root_path", class: "Form" do |form|
      .Form__contents
        = form.text_field :text, placeholder: "type a message", class: "Form__inputContent"
        = form.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = form.file_field :image, class: 'Hidden'
      = form.submit 'Send', class: "Form__submit"




  