.SideBar 
  .SideHeader
    .SideHeader__list
      .SideHeader__userName
        masa
      %ul.SideHeader__iconList
        %li.SideHeader__icon 
          = link_to "#" do
            = icon('fas', 'edit')
        %li.SideHeader__icon
          = link_to "#" do
            = icon('fas', 'cog')
  .GroupList
    .Group
      = link_to "#" do
        .Group__name
          techcamp
        .Group__message
          まだメッセージがありません
    .Group
      = link_to "#" do
        .Group__name
          techcamp
        .Group__message
          まだメッセージがありません
    .Group
      = link_to "#" do
        .Group__name
          techcamp
        .Group__message
          まだメッセージがありません

    